<div id="sonos-fuel-throttle-node-Container">
	<div id="sonos-fuel-throttle-node-Loading" style="text-align: center;">
		<h1 style="margin-top: 15%; color: #666;">ExactTarget Integration Now Loading...</h1>
	</div>

	<div id="sonos-fuel-throttle-node-DashboardMain" class="container"></div>

</div><!-- /sonos-fuel-throttle-node-Container -->
